@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:800,700,500,400,600,900);


body {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	background: url("../images/blacksheep2.jpg") no-repeat top center fixed;
	background-size: cover;
	background-size: contain;
	background-position: 0px 80px;
}

#logo {
	width: 86px;
	float: left; 
}

#logo img {
	width: 100%;
}

#title {
	margin: auto;
	width: 733px;
}


h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 1000%;
	font-weight: 700;
	letter-spacing: 50px;
	margin-top: 15%;
	margin-bottom: 0;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 300%;
	letter-spacing: 19px;
	font-weight: 400;
	margin-top: 0px;
}

h3 {
	border: 1px
}

h4 {
	color: #000;
}

a:hover {
	background-color: #fff;
}

#new {

}

ul {
	list-style: none;
	padding: 0;
}

a {
	color: #C49A6C;
	text-decoration: none;
}

p {
	margin-top: 220px;
}

nav {
	font-family: 'Source Code Pro', 10px;
	word-spacing: 1em;
	letter-spacing: .2;
	font-weight: 600;
	padding-top: 20px;
}