@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:800,700,500,400,600,900);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
section#splash {
	background: url("../images/blacksheep2.jpg") no-repeat top center fixed;
	background-size: contain;
	background-position:0 80px;
	height:80vh;
}
#logo {
	width: 86px;
	float: left; 
}

#logo img {
	width: 100%;
}
h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 10em;
	font-weight: 700;
	letter-spacing: 50px;
	padding-top: 20%;
}

span {
	font-size: .3em;
	letter-spacing: 19px;
	font-weight: 400;
}

h2 {
	border: 1px solid;
}

h4 {
	color: #000;
}

a:hover {
	background-color: #fff;
}

#new {

}

ul {
	list-style: none;
	padding: 0;
}

a {
	color: #C49A6C;
	text-decoration: none;
}

p {
	margin-top: 220px;
}

/*nav {
	font-family: 'Source Code Pro', 10px;
	word-spacing: 1em;
	letter-spacing: .2;
	font-weight: 600;
	padding-top: 20px;
}*/


header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}


