@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:800,700,500,400,600,900);


body {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	background: url("../images/blacksheep2.jpg") no-repeat top center fixed;
	background-size: cover;
	background-size: contain;
	background-position: 0px 80px;
}

div {
	height: auto; 
    width: auto; 
    max-width: auto; 
    max-height: 25px;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 1000%;
	font-weight: 700;
	letter-spacing: 50px;
	margin-top: 15%;
	margin-bottom: -4.5%;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 300%;
	letter-spacing: 20px;
	margin-bottom: 220px;
	font-weight: 400;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	color: #C49A6C;
}

nav {
	font-family: 'Source Code Pro', 10px;
	word-spacing: 2em;
	letter-spacing: .2;
	font-weight: 600;
}